$primary: #34C759;

$secondary: #FFFFFF;

$black: #1A1A1A;

$dark-gray: #252525;

$light-gray: #737373;

$h2:#D9D9D9;

$subtext:#303030;

$text:#A6A6A6;

$border:#ffffff1a;

$box-shadow:rgba(0, 0, 0, 0.1);

// $title-card:#191919;