*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*::-webkit-scrollbar {
  width: 0;
}

body {
  background: #1A1A1A;
  font-family: 'HelveticaNeue';
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin: 0 10px;
}

.nav__link {
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: #34C759;
}

.logo {
  color: #34C759;
  padding: 15px 15px 15px 35px;
  position: relative;
}

.logo::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../icon/logo.svg") center no-repeat;
  position: absolute;
  left: 1px;
  top: 7px;
}

.button {
  background: #34C759;
  padding: 25px 58px;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  color: #FFFFFF;
}

.home {
  background: url("../img/home/background.jpg") center/cover no-repeat;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 170px 0 400px 0;
}

.home__title {
  font-size: 72px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 16px;
}

.home__text {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 595px;
  margin-bottom: 40px;
}

.home__button {
  margin-bottom: 70px;
}

.home__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-card {
  width: 245px;
  padding: 41px 15px 0 15px;
}

.contact-card__title {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #FFFFFF;
}

.contact-card__text {
  font-size: 14px;
  line-height: 4.29;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */